html {
  height: 100%;
}
body {
  min-height: 100%;
}

#display {
  text-align: center;
  width: 100%;
  background: white;
}

/*
#control {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}
*/

#info p{
  background-color: #E6E6E6;
  padding: 0.25rem 0;
  font-size: 125%;
  text-align:center;
}

#control button {
  font-size: 145%;
  padding: 0 1rem;
  height: 3rem;
  width: 100%;
}

*/
