#display {
  text-align: center;
  width: 100%;
  background: white;
}

#control {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

#control button {
  font-size: 1.5rem;
  padding: 0 2rem;
  height: 5rem;
  flex-grow: 1;
}

